@font-face {
    font-family: "NeoDunggeunmo";
    src: url("https://snorlaxh.github.io/neodgm/assets/neodgm.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }